{include file="/header"/}

<div class="container-xl">
    <div class="row justify-content-center">
    <div class="col-xl-8 col-md-12 mt-50" >
        <div class="card">
        <div class="card-body">
            <h1 class="text-center text-blue mt-3 mb-3">Share and send large files!</h1>
            <p  class="intro gray-font text-center text-muted">
                Up to 2 GB files | without registration | all filetypes | secure and fast
            </p>
            


            <div class="row mt-5">
                <form id="fileupload" action="#" method="POST" enctype="multipart/form-data">

                    
                    <div class="fileupload-buttonbar">
                        <span class="fileinput-button btn btn-primary col-12  w-100 text-center large-padding">
                            <span class="large-font-size mb-5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
                                    <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
                                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                                  </svg>
                             Select files
                            </span>
                            <span class="d-block fs-5">- or drag and drop files in this window -</span>
                            <input type="file" name="files[]" multiple>
                        </span>

                        <table role="presentation" class="table table-striped table-hover table-bordered"><tbody class="files"></tbody></table>
                    </div>            
                </form>
                
            <div>

            <div class="row mt-5">
                <div class="col-xl-12 col-md-12">
                    <div class="form-group mb-3">
                        <label class="form-label text-muted fs-6">DESPRITION(Optional)</label>
                        <textarea class="form-control" name="comment" rows="3" placeholder=""></textarea>
                      </div>
                </div>
            </div>
            
            <div class="row mt-2">
                <div class="col-xl-4 col-md-12">
                    <div class="mb-3">
                        <label class="form-label text-muted  fs-6">FILE PASSWORD(Optional)</label>
                        <div class="input-group input-group-flat">
                            <input type="text" class="form-control" autocomplete="off">
                            <span class="input-group-text">
                            
                            <a href="#" class="link-secondary ms-2 disabled" data-bs-toggle="tooltip" aria-label="Add notification" data-bs-original-title="Add notification">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"></path>
                                    <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                                    <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
                                    </svg>
                            </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="mb-3">
                        <label class="form-label text-muted fs-6">MAX. DOWNLOADS(Optional)</label>
                        <div class="input-group input-group-flat">
                            <input type="text" class="form-control" autocomplete="off">
                            <span class="input-group-text">
                            
                            <a href="#" class="link-secondary ms-2 disabled" data-bs-toggle="tooltip" aria-label="Add notification" data-bs-original-title="Add notification">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                    <path d="M7 11l5 5l5 -5"></path>
                                    <path d="M12 4l0 12"></path>
                                    </svg>
                            </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="mb-3">
                        <label class="form-label text-muted  fs-6">STORAGE TIME(DAYS)(Optional)</label>
                        <div class="input-group input-group-flat">
                            <input type="text" class="form-control" autocomplete="off">
                            <span class="input-group-text">
                            
                            <a href="#" class="link-secondary ms-2 disabled" data-bs-toggle="tooltip" aria-label="Add notification" data-bs-original-title="Add notification">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"></path>
                                    <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                    <path d="M15 3v4"></path>
                                    <path d="M7 3v4"></path>
                                    <path d="M3 11h16"></path>
                                    <path d="M18 16.496v1.504l1 1"></path>
                                    </svg>
                            </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-sm-12 small-font-size text-center">
                    Please note our <a href="/legal/privacy" target="_blank" class="text-primary">data protection regulations</a> and our <a href="/legal/terms" target="_blank"  class="text-primary">terms of use</a>.
                </div>
            </div>

            <div class="col-12 col-md-2 col-xl-auto py-3">
                <button href="#" class="btn btn-primary w-100 py-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-share" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M6 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                        <path d="M18 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                        <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                        <path d="M8.7 10.7l6.6 -3.4"></path>
                        <path d="M8.7 13.3l6.6 3.4"></path>
                        </svg>
                    Share Now!
                    </button>
            </div>
            
        </div>

        </div>
    </div>
    </div>
</div>


{load href="/static/js/fileupload.js" /}
{load href="/static/css/fileupload.css" /}

{include file="/footer"/}